<div class="container">
    <h1>Enter a word to guess!</h1>

    <form asp-controller = "Home" asp-action = "SubmitWord" method = "post">
        <div class="form-group">
            <input type = "password" placeholder="word" name= "word" class = "form-control input lg">
        </div>
        <input type = "submit" class = "btn btn-lg btn-warning">

    </form>
</div>