
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
    <div class="mainBody">
        <div class="nav">
            <p><a href = "/">Home</a> | <a href = "/projects">Projects</a> | <a href = "/contact">Contact</a></p>
        </div>
        <h1 class="text-center">Contact Me!</h1

        <label class="Name">Name</label>
        <input class= "LastName">

        <label class="Email">Email</label>
        <input class= "Email">
        <br>
        <label class="text">Message</label>
        <textarea class= "text"></textarea>
        <br>
        <input type= "submit" class = "btn btn-primary">
    </div>

</body>
</html>