@model WeddingUsers

<div id="container">
    <h4 class="text-right mt-3"><a href="/dashboard" class="btn btn-lg btn-primary" >Dashboard</a><a href="/logout" class="btn btn-lg btn-warning">Log Out</a></h4>

    <h1>@ViewBag.SubmitShow.WedCoupleName1 and @ViewBag.SubmitShow.WedCoupleName2</h1>
    <h3>Date: @ViewBag.SubmitShow.Date </h3>


        <h3>Guest: </h3>



</div>