<!DOCTYPE html>
<html>
    <head>
        <title>Random</title>
        <meta charset="utf-8">
    </head>
    <body>
        @* <h3>Random passcode (passcode #<span id="count">0</span>)</h3> *@
        <h3>Random Passcode (passcode #@ViewBag.count)</h3>
        <h1>@ViewBag.Example</h1>
        <input type="submit">
    </body>
</html>